aclocal.m4
aterm-java-*.pkg
bin
build
*.cache
.classpath
config.*
configure
COPYING
dist
INSTALL
install-sh
*.jar
Makefile
Makefile.in
missing
mkinstalldirs
.project
*.tar.gz
aterm-java.pc
aterm-java-uninstalled.pc
doc-header.html
Doxyfile.meta
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
META-INF
build.properties
.settings
Makefile.fragment.meta

