*-*.pkg
*.tar.gz
.deps
Makefile
Makefile.in
aclocal.m4
autom4*
config.cache
config.h.in
config.log
config.status
configure

.project
depcomp
aterm-xml-uninstalled.pc
config.guess
ltmain.sh
config.sub
Makefile.meta
Makefile.top.meta
INSTALL
mkinstalldirs
Makefile.java.meta
doc-header.html
META-INF
meta-build.m4
libtool
meta-build.ant
aterm-xml.pc
Doxyfile.meta
missing
install-sh
.settings

