module Bool
imports Layout
exports
  sorts Bool
  context-free syntax
    "true"          -> Bool
    "false"         -> Bool
    "not" Bool      -> Bool
    Bool "and" Bool -> Bool {left}
    Bool "or" Bool  -> Bool {left}

hiddens variables
    "Bool" -> Bool

equations
  [not-1] not true = false
  [not-2] not false = true

  [and-1] Bool and false = false
  [and-2] Bool and true = Bool

  [or-1] Bool or true = true
  [or-2] Bool or false = Bool
