module Set
imports Layout

exports
  sorts ID Set
  lexical syntax
    [a-z][a-z0-9]* -> ID
  context-free syntax
    "{" { ID "," }* "}" -> Set

hiddens
  variables
    "Id*" [0-9]* -> { ID "," }*
    "Id" [0-9]* -> ID

equations
  [set] { Id*0, Id, Id*1, Id, Id*2 } = { Id*0, Id, Id*2, Id*3 }

