*.tar.gz
.classpath
.project
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache
autom4te.cache
bin
build
config.*
configure
dist
install-sh
missing
mkinstalldirs
shared-objects-*.pkg
shared-objects-config
Doxyfile.meta
libtool
ltmain.sh
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
shared-objects.jar
shared-objects.pc
doc-header.html
shared-objects-uninstalled.pc
META-INF
build.properties
.settings
Makefile.fragment.meta

