*-*.pkg
*.cache
*.tar.gz
Makefile
Makefile.in
aclocal.m4
aterm.pc
aterm.spec
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.java.meta
Makefile.meta
Makefile.top.meta
Doxyfile.meta
INSTALL
aterm-uninstalled.pc
doc-header.html
meta-build.ant
meta-build.m4
svnmerge-commit-message.txt
lib
META-INF
.project
.settings
Makefile.fragment.meta

